
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  padding: 0;
  background-color: #343a40; 
}

.vh-100 {
  min-height: 100vh;
}

/* General App styling */
.App {
  background-color: black;
  font-family: Arial, sans-serif;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

/* Responsive adjustments */
@media (max-width: 767px) {
  .App {
    padding: 0;
  }

  .App .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }

  .App .dashboard {
    padding-top: 10px;
    margin-left: 0; /* No margin needed for dashboard in mobile view */
  }
}

@media (min-width: 768px) {
  .App .sidebar {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
  }

  .App .dashboard {
    margin-left: 200px; /* Adjust based on sidebar width */
    padding-top: 60px; /* Adjust padding to account for the fixed header */
  }
}
